{
    auto_https off
    admin off
}

@@LISTEN_ADDRESS@@ {
    @ingress_health path @@INGRESS_HEALTH_PATH@@
    handle @ingress_health {
        respond "ok" 200
    }

@@PROXY_BLOCKS@@

    handle {
        respond "not found" 404
    }
}
