{
    auto_https off
    admin off
}

@@LISTEN_ADDRESS@@ {
    log {
        output stdout
        format console
    }

    @ingress_health path @@INGRESS_HEALTH_PATH@@
    respond @ingress_health "ok" 200

@@PROXY_BLOCKS@@

    respond "not found" 404
}
